# Tuple
1. definition

In [21]:
l = ("python", "Css", "django")
type(l)

tuple

2. access

In [27]:
a = l[1]
print(a)
print(l[0])

Css
python

3. packing

In [5]:
names = "ali", "amir", "hossin"
print(names)
type(names)

('ali', 'amir', 'hossin')

tuple

4. unpacking

In [6]:
a = 1, 2, 3
x , y , r = a
y

2

5. edit

In [7]:
a = 1 , 2, 3
a[1] = 5

TypeError: 'tuple' object does not support item assignment

6. duplication

In [8]:
a = 1 ,2 , 2 , 3,4 ,5
print(a)

(1, 2, 2, 3, 4, 5)

# List

1. definition

In [9]:
lists = ["amir", "python","hello"]
type(lists)

list

2. access

In [10]:
print(lists[2])

hello

3. edit

In [11]:
a = ["amir", "ali","world"]
a[1] = "hello"
a

['amir', 'hello', 'world']

4. add

In [15]:
a = [1 , 2 ,3 ,4]
a.append(5)
a.insert(0, 9)
print(a)

[9, 1, 2, 3, 4, 5]

5. remove

In [16]:
a.remove(5)
a

[9, 1, 2, 3, 4]

In [18]:
r = ["amir", "ali", "hello"]
r.remove("hello")
r

['amir', 'ali']

6. slice

In [19]:
a = [1, 2 ,3 ,4 , 5 ,6]
b = a[1:4]
b

[2, 3, 4]

In [20]:
e = ["a", "b", "c", "d"]
f = e[1:3]
f

['b', 'c']

7. concatenation

In [21]:
a = [1,3,4 ,5]
b = [6 , 7, 8, 9]
c = a + b
c

[1, 3, 4, 5, 6, 7, 8, 9]

In [22]:
t = [1 , 3 , 4]
g = t * 3
g

[1, 3, 4, 1, 3, 4, 1, 3, 4]

# String

In [23]:
a = "Hello"
b = ["H", "e", "l", "l", "o"]
a[1]
b[1]

'e'

In [24]:
c = " world"
d = a + c
d

'Hello world'